<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body id="body">
		<div id="stickhead">stickhead</div>
		<!--	<div id="tri"></div> -->
		<div id="container">
			<div id="mainpage">
				<div id="indexheadline">indexheadline</div>
				<div id="indexlogo">
					<div id="logofa">汇业银行,你身边的投资专家</div>
					<div id="logofb">以客为尊 無論貴公司的規模如何,匯業銀行都能提供周全的專業財務服務,確保迎合貴公司的具體需要.</div>
				</div>
				<div id="navi">
					<div id="navia">
						<div class="navicircle"></div>
						<div id="navititle">银行业务</div>
						<div id="navidetails">
							<ul>
								<li>储蓄户口</li>
								<li>定期户口</li>
								<li>外币服务</li>
							</ul>
						</div>
					</div>
					<div id="navib">
						<div class="navicircle"></div>
						<div id="navititle">证券投资业务</div>
					</div>
					<div id="navic">
						<div class="navicircle"></div>
						<div id="navititle">期货产品</div>
					</div>
				</div>
				<div id="map"></div>
				<div id="footer">
					<div id="footerbanner">
						<div class="logopic">
							<img src="images/logo.png" alt="logo" height="70px" width="260px">
						</div>
					</div>
					<div id="about">
						<div id="abouta"></div>
						<div id="aboutb"></div>
						<div id="aboutc">
							<div id="aboutc1">aboutc1</div>
							<div id="aboutc2">aboutc2</div>
							<div id="aboutmap"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>